body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #ddd;
  height: 100%;
  margin: 0;
  padding: 0;
}

*{ /* POSICIONAMENTO DOS LINKS PARA NAVEGAÇÃO DA NAVBAR */
  box-sizing: border-box;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23252b9d;
  background-size: cover;
  background-size: 100vh;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 0 50px 0 50px;
  transition: 0.6s;
}

header .logo-img {
  width: 110px;
  height: auto;
}

header .navigation {
  position: static;
  line-height: 75px;
  transition: 0.6s;
}

header .navigation .menu {
  display: flex;
  list-style: none;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  margin: 20px; /* espaçamento entre os itens do menu */
  transition: 0.3s;
}

.menu-item > a:hover { /* Efeito ao passar o mouse sobre os itens */
  color: #b5e68b;
  transition: 0.3s;
  font-size: 20px;
}

.menu-item.ativo a {
  color: #b5e68b;
  font-weight: bolder;
}

.principal {
  margin-top: 100px; /* espaço por causa do header fixo */
  height: 100vh;
  background-color: #F0E4D0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: 0;
  background-repeat:no-repeat;
}

.principal2 {
  margin-top: 100px; /* espaço por causa do header fixo */
  height: 100vh;
  background-color: #F0E4D0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: 0;
  background-repeat:no-repeat;
}

h1 {
    margin-bottom: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.foto {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto:hover {
    transform: scale(1.05);
}




.footer {
  bottom: 0; 
  padding: 5px;
  background-color: #546742;
  height: 200px;
  color: #fff;
  font-size: 15px;
  justify-content: center;
  width: 100%;
  display: flex;
}