body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #ddd;
  height: 100%;
  margin: 0;
  padding: 0;
}

*{ /* POSICIONAMENTO DOS LINKS PARA NAVEGAÇÃO DA NAVBAR */
  box-sizing: border-box;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3654439d;
  background-size: cover;
  background-size: 100vh;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  padding: 0 120px 0 50px;
  transition: 0.6s;
}

header .logo-img {
  width: 110px;
  height: auto;
}

header .navigation {
  position: static;
  line-height: 75px;
  transition: 0.6s;
}

header .navigation .menu {
  display: flex;
  list-style: none;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  margin: 20px; /* espaçamento entre os itens do menu */
  transition: 0.3s;
}

.menu-item > a:hover { /* Efeito ao passar o mouse sobre os itens */
  color: #b5e68b;
  transition: 0.3s;
  font-size: 20px;
}

.menu-item.ativo a {
  color: #b5e68b;
  font-weight: bolder;
}

/* CONTEÚDO PRINCIPAL */
.principal {
  height: 120vh;
  max-width: 100%;
  background-color: var(--new);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: 0;
  background-repeat:no-repeat;
}

.principal h1 { /*Texto no meio da imagem da index*/
  font-size: 4em;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.section { /*Texto abaixo da imagem da index*/
  text-align: center;
  height: 100vh;
  width: 100%; /* Largura da box */
  border: 0px; /* Borda da box */
  padding: 20px; /* Espaçamento interno da box */
  margin: 0px; /* Espaçamento externo da box */
  background-color: #F0E4D0; /* Cor de fundo da box */
  color: #546742;
}

.section h2 {
  font-size: 2.5em;
  color: #546742;
}

.section h3 { 
  font-size: 1.5em;
  color: #546742;
}

.texto_home {
  max-width: 80%;
  text-align: center;
  margin: 20px auto;
  font-size: 1.2em;
  color: #546742;
  height: 100vh;
  word-break: keep-all;
  text-overflow: inherit;
}

.texto_home p {
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: #546742;
  color: #fff;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}



 /* #F0E4D0 */